<%!
from django.utils.translation import ugettext as _
%>
<style>
    <%include file="telegram_auth.css"/>
</style>
<div class="telegram-auth">
    <div style="padding: 0 30px;">
        <h2>${_("Telegram bot authantication")}</h2>
        <button class="telegram-get-token">${_("Get auth token")}</button>
        <img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" style="display: none"/>
        <input type="text" disabled class="telegram-token" style="display: none">
    </div>
    <script>
        $('.telegram-get-token').on('click', function () {
            $(this).hide();
            $('.telegram-auth .djdt-loader').show();
            $.ajax({
                url: "/api/bot/generate/",
                data: {},
                csrf: 'VdEOChmAvspHtjROzXQAR4BJVrWisli7',
                type: "POST"
            }).success(function (data) {
                $('.telegram-auth .djdt-loader').hide();
                $('.telegram-auth .telegram-token').show();
                $('.telegram-token').val(data.token);

            });
        });
    </script>
</div>