<%!
from django.utils.translation import ugettext as _
%>
<style>
    <%include file="telegram_auth.css"/>
</style>
<div class="telegram-auth">
    <div style="padding: 0 30px;">
        <h2>${_("Telegram bot authantication")}</h2>
        <button class="telegram-get-token">${_("Get auth token")}</button>
        <img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader"/>
        <div class="token-block" >
            <a href='#' class="telegram-token" target='_blank'><button>${_( "Authorize")}</button></a>&nbsp
            <a href="#" class="token-reset">${_('generate new token')}</a><br/>
            <p class="telegram-success"></p>
        </div>
    </div>
    <script>
        <%include file="telegram_auth.js" args="user=user, csrf_token=csrf_token"/>
    </script>
</div>
